{% extends '::base.html.twig' %}

{% import 'AppBundle:Default:macros.html.twig' as macro  %}

{% block body %}

    <h1>{{ title }}</h1>
    <ul>
        {% for product in products %}
            {% block product %}
                <li>{{ macro.span(product.name) }}</li>
            {% endblock %}
        {% endfor %}
    </ul>

{% endblock %}
